* {
  transition: 0.3s all;
  font-size: small;
}

html,
body {
  font-family: IranSans;
  font-weight: normal;
  min-width: 100%;
  min-height: 100vh;
}

.glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.07);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.6px);
  -webkit-backdrop-filter: blur(11.6px);
  border: 1px solid rgba(255, 255, 255, 0.22);
}

input:focus {
  box-shadow: 0 0 0 0.25rem rgba(46, 48, 50, 0.25) !important;
  border-color: rgb(46, 48, 50) !important;
}

@media screen and (min-width: 768px) {
  * {
    font-size: medium;
  }
}
